<html lang="en">
          <head>
            <meta charset="utf-8">

            <link rel="stylesheet" href="styles.css">
            <style>
              body {background: #E5E5E5;}
            </style>
          
          </head>
          
          <body>
            <div id="e68_27"><div id="e68_28"></div><span id="e68_29">Register to BookStore</span><div id="e68_30"></div><span id="e68_31"><button> Register</button></span><div id="e68_32"><div id="e68_33"><div id="e68_34"></div><span id="e68_35"><label for ="email"></label>
              <input type="text" id="email" placeholder="test@example.com" required>
            </span></div><span id="e68_36">Email</span></div><div id="e68_37"><div id="e68_38"><div id="e68_39"></div><span id="e68_40"><input type="password" name="password" placeholder="password" required></span></div><span id="e68_41">Password</span></div><div id="e68_42"><div id="e68_43"><div id="e68_44"></div><span id="e68_45"><input type="password" name="password" placeholder=" confirm your password" required></span></div><span id="e68_46">Confirm Password</span></div><div id="e68_47"><div id="e68_48"><div id="e68_49"></div><span id="e68_50"><input type="text" placeholder="Username" required></span></div><span id="e68_51">Name</span></div><div id="e68_52"></div><div id="e68_53"></div></div>
          </body>
          </html>