#e68_27 { 
	overflow:hidden;
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:1200px;
	height:900px;
	position:absolute;
}#e68_28 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(238.00000101327896, 238.00000101327896, 238.00000101327896, 1);
	opacity:1;
	width:323px;
	height:502px;
	position:absolute;
	left:438px;
	top:229px;
}#e68_29 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:264px;
	height:24px;
	position:absolute;
	left:468px;
	top:249px;
	font-family:Open Sans;
	text-align:left;
	font-size:26px;
	letter-spacing:0;
	line-height:24px;
}#e68_30 { 
	background-color:rgba(49.00000087916851, 49.00000087916851, 49.00000087916851, 1);
	opacity:1;
	width:117px;
	height:33px;
	position:absolute;
	left:541px;
	top:673px;
	border-radius:3px;
}#e68_31 { 
	color:rgba(205.00000298023224, 201.00000321865082, 195.0000035762787, 1);
	opacity:1;
	width:81px;
	height:13px;
	position:absolute;
	left:580px;
	top:677px;
	font-family:Open Sans;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
	line-height:24px;
}#e68_32 { 
	opacity:1;
	width:223px;
	height:61.000240325927734px;
	position:absolute;
	left:488px;
	top:295px;
}#e68_33 { 
	opacity:1;
	width:223px;
	height:35.999996185302734px;
	position:absolute;
	left:0px;
	top:25.000244140625px;
}#e68_34 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(202.00000315904617, 207.00000286102295, 210.00000268220901, 1);
	width:223px;
	height:35.999996185302734px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}#e68_35 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:125px;
	height:24px;
	position:absolute;
	left:7.847507476806641px;
	top:5.999999523162842px;
	font-family:Open Sans;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:24px;
}#e68_36 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:36px;
	height:23.999996185302734px;
	position:absolute;
	left:5px;
	top:0px;
	font-family:Open Sans;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
	line-height:24px;
}#e68_37 { 
	opacity:1;
	width:223px;
	height:59.999996185302734px;
	position:absolute;
	left:488px;
	top:466px;
}#e68_38 { 
	opacity:1;
	width:223px;
	height:35.999996185302734px;
	position:absolute;
	left:0px;
	top:24px;
}#e68_39 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(202.00000315904617, 207.00000286102295, 210.00000268220901, 1);
	width:223px;
	height:35.999996185302734px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}#e68_40 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:132px;
	height:24px;
	position:absolute;
	left:7.847507476806641px;
	top:5.999999523162842px;
	font-family:Open Sans;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:24px;
}#e68_41 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:64px;
	height:23.999996185302734px;
	position:absolute;
	left:5px;
	top:0px;
	font-family:Open Sans;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
	line-height:24px;
}#e68_42 { 
	opacity:1;
	width:223px;
	height:61.000240325927734px;
	position:absolute;
	left:488px;
	top:554px;
}#e68_43 { 
	opacity:1;
	width:223px;
	height:35.999996185302734px;
	position:absolute;
	left:0px;
	top:25.000244140625px;
}#e68_44 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(202.00000315904617, 207.00000286102295, 210.00000268220901, 1);
	width:223px;
	height:35.999996185302734px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}#e68_45 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:132px;
	height:24px;
	position:absolute;
	left:7.847507476806641px;
	top:5.999999523162842px;
	font-family:Open Sans;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:24px;
}#e68_46 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:123px;
	height:24px;
	position:absolute;
	left:5px;
	top:0px;
	font-family:Open Sans;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
	line-height:24px;
}#e68_47 { 
	opacity:1;
	width:223px;
	height:61.000240325927734px;
	position:absolute;
	left:488px;
	top:378px;
}#e68_48 { 
	opacity:1;
	width:223px;
	height:35.999996185302734px;
	position:absolute;
	left:0px;
	top:25.000244140625px;
}#e68_49 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(202.00000315904617, 207.00000286102295, 210.00000268220901, 1);
	width:223px;
	height:35.999996185302734px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}#e68_50 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:62px;
	height:24px;
	position:absolute;
	left:7.847507476806641px;
	top:5.999999523162842px;
	font-family:Open Sans;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:24px;
}#e68_51 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:36px;
	height:23.999996185302734px;
	position:absolute;
	left:5px;
	top:0px;
	font-family:Open Sans;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
	line-height:24px;
}#e68_52 { 
	background-color:rgba(82.00000271201134, 82.00000271201134, 82.00000271201134, 1);
	opacity:1;
	width:1200px;
	height:123px;
	position:absolute;
	left:0px;
	top:1px;
}#e68_53 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	opacity:1;
	width:135px;
	height:75px;
	position:absolute;
	left:23px;
	top:24px;
}